/* header part start  */

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.bg-color{
    background-color: chocolate ;
}
.dropdown-menu{
    background-color: chocolate !important;
}

/* header part start  */

/* section part start  */
.img-part{
width:50%;
margin-left: 150px;

}

.link{
    text-decoration: none;
    font-weight: 700;
    font-size: medium;
    background-color: chocolate;
    color: black;
    padding: 5px;
    border-radius: 20px;
}

.link:hover{
    
}

/* section part start  */


/* Hero section part start  */


/* Hero secti on part end  */